/* Write your code here: */
h1 ,h2{
    color: blueviolet;
}
.box > .done{
color: firebrick;
}
/* .box >p{
    color: firebrick; // also work
} */

.list > li , .done {
    color: blue;
}
/*  or 
.box li{
    color: blue; // works
}

*/